<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Routing and Navigation
  </h1>
</div>
<ul>
<nav>
  <li><a routerLink="/departments" routerLinkActive="active">Departments</a></li>
  <li><a routerLink="/employee" rotuerLinkActive="active">Employee</a></li>

</nav>
</ul>
<router-outlet></router-outlet>
